[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.12"

[packages]
#beautifulsoup4 = "*"
PyNaCl = "*"
requests = "*"
#google-api-python-client = "*"
#schedule = "*"
youtube-dl = {editable = true, ref = "master", git = "https://github.com/ytdl-org/youtube-dl.git"}
python-dotenv-vault = "*"
"discord.py" = {version = ">=2.4", extras = ["voice"]}
