[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.11"

[packages]
beautifulsoup4 = "*"
PyNaCl = "*"
requests = "*"
google-api-python-client = "*"
discord.py = { extras = ['speed'], version = ">=2.2.2" }
youtube-dl = {editable = true, ref = "master", git = "https://github.com/ytdl-org/youtube-dl.git"}
